<body>
    <div class="parent distance">
        <div class="one">
            Message
        </div>
        <div class="three">
            <label>Sender Id </label><br>
            {{message?.senderId}}
        </div>
        <div class="four">
            <label>Receiver Id </label><br>
            {{message?.receiverId}}
        </div>
        <div class="five">
            <label>Content </label><br>
            {{message?.content}}
        </div>
        <div clas="six">
            <label>Date  </label><br>
            {{message?.date}}
        </div>
    </div>
</body>