<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3>Match</h3>

<button type="button" class="btn btn-outline-primary" routerLink="/match-create">Match Create</button>
<button type="button" class="btn btn-outline-primary" routerLink="/match-delete">Match Delete</button>
<button type="button" class="btn btn-outline-primary" routerLink="/match-update">Match Update</button>
<button type="button" class="btn btn-outline-primary" routerLink="/match-get-single">Match Get</button>
<button type="button" class="btn btn-outline-primary" routerLink="/match-get-all">Match GetAll</button>