<button routerLink="/post-create" button type="submit" mat-raised-button color="primary" class="createButton">Create Post</button>
<div *ngFor="let post of posts">
    <mat-card class="post-card">
        <mat-card-header>
            <mat-card-title class="post-author">{{post.user.name}}</mat-card-title>
            <mat-card-subtitle class="post-date">{{post.date | date:"yyyy-MM-dd HH:mm"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="post-content">
            <mat-card-title class="post-author">{{post.title}}</mat-card-title>
            {{post.content}}
        </mat-card-content>
        <mat-card-content class="comment-list">
            <ul *ngFor="let comment of post.comments.slice(0, post.amount)" let i=index;>
                <li class="comment-item">
                    <div class="comment-body">
                        <div class="comment-header">
                            <span class="comment-author">{{comment.commentAuthor.name}}</span>
                            <span class="comment-date">{{comment.commentDate | date:"yyyy-MM-dd HH:mm"}}</span>
                        </div>
                        <div class="comment-content">
                            {{comment.content}}
                        </div>
                    </div>
                </li>
                <mat-divider></mat-divider>
            </ul>
            <a (click)="expand(post.id)">Load more comments</a>
            <div class="comment-form">
                <form (ngSubmit)="addComment(post.id, post.commentContent)">
                    <mat-form-field appearance="fill" class="comment-form-field">
                        <mat-label>Write a comment</mat-label>
                        <input matInput placeholder="Write a comment" [(ngModel)]="post.commentContent"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field>

                    <input hidden type="submit" value="Create Comment">
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>