body{
    margin: 40px 0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-areas:
        "one two three"
        "four five six"
        "seven eight nine";
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.four {
    grid-area: five;
}

.seven {
    grid-area: seven;
}

mat-form-field{
    width: 100%;
}

input[type=datetime-local] {
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 0.5px solid white;
    border-radius: 4px;
    transition: 0.5s;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: gray;
    background-color: #f3f3f3;
    width: 100%;
    border-bottom: 1px solid gray;
    height: 56px;
  }
  
  input[type=datetime-local]:focus {
    outline: none;
  }

  .component-container{
    margin: 40px 0px;
  }

  .card-content{
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.85);
}