<div class="distance">
    <h2>Lista meczów</h2>
    <div class="distance">
        <table class="table table-striped table-sm align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Id</th>
                    <th>FirstTeamId</th>
                    <th>SecondTeamId</th>
                    <th>WinnerId</th>
                    <th>Phase</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let match of matches">
                    <td>{{match?.id}}</td>
                    <td>{{match?.firstTeamId}}</td>
                    <td>{{match?.secondTeamId}}</td>
                    <td>{{match?.winnerId}}</td>
                    <td>{{match?.phase}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>